* {
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}

a {
  text-decoration: none;
}

.aa{
font-family:'ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック';
font-size:16px;
line-height:18px;
}

.video {
  margin-bottom: 50px;
}

.big {
  font-size: 20px;
}

.small {
  font-size: 10px;
}

.giant {
  font-size: 40px;
}

.green {
  font-weight: bold;
  color: green;
}

.orange {
  color: #dd2f00;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.red {
  color: red;
}

.shadow {
  color:white;
  /* fuck IE */
  text-shadow: gray 1px 1px 0px, gray -1px 1px 0px,
               gray 1px -1px 0px, gray -1px -1px 0px;
}

.headtitle {
  color:white;
  letter-spacing: 3px;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 10px;
}

.res {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}

.one {
  background-color: rgb(255, 232, 112);
}

.two {
  background-color: rgb(119, 206, 255);
}

.ind {
  margin-bottom: 0px;
}

.comind {
  color: black;
  margin-left: 20px;
}

.comres {
  color: black;
  margin-left: 20px;
}

.comhr {
  margin-top: 20px;
}

.game {
  padding-top: 30px;
  padding-left: 50px;
  margin-bottom: 0px;
}

#headcontent ul {
  margin: 0px;
  padding-left: 4px;
  list-style-type: none;
}

#headcontent li {
  margin-top: 8px;
}

#headcontent li:before {
  content:"☆ ";
}

#headcontent a {
  color: blue;
}

#headcontent a:hover {
  color: red;
  text-decoration: underline;
}

body {
  background-color: rgb(201, 252, 229);
}

img {
  margin-top: 40px;
}

#header {
  margin-left: 150px;
}

#top {
  border-style:groove;
  border-color: rgb(249, 244, 224);
  margin-top: 0px;
}

#headline {
  height: 40px;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 150px;
  border-color: rgb(184, 184, 184);
  border-style: solid;
  border-width: 2px;
  background-color: skyblue;
}

#headcontent {
  width: 1000px;
  height: 200px;
  margin-top: 0px;
  margin-left: 150px;
  margin-bottom: 50px;
  overflow-y: scroll;
  background-color: white;
  border: rgb(184, 184, 184) solid 2px;
  border-top: none;
}

#main {
  border-style: solid;
  border-color: rgb(184, 184, 184);
  border-width: 2px;
  margin-top: 0px;
  width: 1000px;
  background-color: white;
  margin-left: 150px;
}

#title {
  width: 1000px;
  height: 80px;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 0px;
  padding: 0px;
  border: rgb(184, 184, 184) solid 2px;
  border-bottom: none;
  background-color: skyblue;
}

#article {
  margin-top: 50px;
  margin-left: 20px;
}

#maintitle{
  margin-left: 5px;
  margin-top: 25px;
}

#ads {
  margin-top: 70px;
  width: 1000px;
  margin-left: 150px;
  border: rgb(184, 184, 184) solid 2px;
  background-color: white;
}

#adstitle {
  font-size: 30px;
  letter-spacing: 3px;
  width: 1000px;
  height: 40px;
  padding-top: 10px;
  background-color: skyblue;
  border-bottom: rgb(184, 184, 184) solid 2px;
}

#adstitle p {
  margin-top: 0px;
  margin-left: 5px;
}

#gamedes {
  width: 560px;
  padding: 20px 20px;
  background-color: rgb(97, 233, 201);
  margin-left: 150px;
  margin-bottom: 70px;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
}

#comtitle {
  background-color: skyblue;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: rgb(184, 184, 184) solid 2px;
}

#comment {
  border: rgb(184, 184, 184) solid 2px;
  margin-top: 40px;
  margin-left: 150px;
  width: 1000px;
  background-color: white;
}

#footer {
  width: 1000px;
  height: 30px;
  margin-left: 150px;
  margin-top: 30px;
  background-color: blue;
  border: rgb(249, 244, 224) groove 1px;
}

#footer p {
  color: white;
  text-align: center;
  margin-top: 7.5px;
}
